@import "../../../assets/sass/variables";

.logo {
  display: flex;
  align-items: center;

  svg {
    color: $app-theme1;
    margin-right: 10px;
  }

  h2 {
    span {
      color: $logo-silver;
      font-weight: 100;
    }
  }
}
