.error {
  color: rgb(194, 0, 0);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px 0;
}

// countries page errors
.c-p {
  font-size: 26px;
  margin: calc(23% + 0px) 0 0 0;
  color: #ffffff7e;
}

.d-center {
  margin: auto;
  font-size: 20px;
  color: #ffffff7e;
}