@use "../../assets/sass/mixins";
@import "../../assets/sass/variables";

.container {
  position: relative;
  min-height: 100vh;
  @include mixins.flex-center;
  background: white;
  color: black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: $forgotReset-back-blue-bg;
    z-index: 0;
  }

  .form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 20px;
    padding: 30px 80px 60px 80px;
    margin: 40px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.292);
    z-index: 1;

    h2 {
      font-size: 30px;
    }

    .text {
      font-size: 17px;
      color: rgb(75, 75, 75);
      font-weight: 500;
      margin: 15px 0 25px 0;
    }

    button {
      margin: 25px 0 40px 0;
    }

    .loginLink {
      display: flex;
      align-items: center;
      font-size: 16px;
      text-decoration: none;
      color: black;
    }
  }
}

@media screen and (max-width: 851px) {
  .container {
    .form {
      width: 500px;
      padding: 30px 40px 50px 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .form {
      width: 95%;
      padding: 30px 20px 30px 20px;
    }
  }
}