@import "../../assets/sass/variables";

.container {
  padding: 20px 30px;
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
  }

  .areaChartCountries {
    height: 365px;
    display: flex;
    border-radius: 4px;
    grid-column: 1 / 3;

    .leftChartWrapper {
      width: calc(100% - 230px);
      padding: 15px 0 10px 0;
      background: rgb(45, 53, 60);

      .head {
        height: 20%;
        padding-left: 30px;
        margin-bottom: 10px;

        h2 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
          margin-top: 3px;
          color: #9ba8b4;
        }
      }

      .responsiveContainer {
        height: 80% !important;
        display: flex;
        align-items: center;
        justify-content: center;

        .tooltipContent {
          width: 170px;
          border: none;
          padding: 10px;
          border-radius: 10px;
          color: $app-theme2;
          background: rgba(64, 76, 86, 0.953);
  
          h2 {
            font-size: 15px;
            margin-bottom: 5px;
          }
  
          .a,
          .p {
            position: relative;
            padding-left: 18px;
            font-size: 13px;
            margin: 3px 0;
          }
  
          .a span::before,
          .p span::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 13px;
            height: 13px;
            border-radius: 4px;
          }
          
          .p span::before {
            background: $countries-chart-population-fill-color;
          }
  
          .a span::before {
            background: $countries-chart-area-fill-color;
          }
        }
      }
    }

    .rightChartWrapper {
      width: 230px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;

      .head {
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 12px;
          color: #9ba8b4;
        }
      }
    }
  }

  .newUsersContainer {
    width: 100%;
    height: 365px;

    a {
      width: max-content;
      text-decoration: none;
      color: #FFFFFF80;
      font-size: 12px;
      margin: 10px auto;
      display: block;
    }

    hr {
      border: none;
      border-bottom: 1px solid rgba(73, 80, 87, .75);
    }

    .body {
      position: relative;
      display: flex;  
      height: 100%;

      .usersWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 1fr 1fr;
        padding: 5px 7.5px;
        overflow: auto;
  
        .userItem {
          padding: 7.5px;
          font-size: 12px;
  
          p {
            white-space: nowrap !important;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 5px;
            color: white;
            height: 20%;
          }
        }
      }
    }
  }

  .earthMapCountries {
    .checkedCountriesWrapper {
    }
  }
}

.horizontalItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  font-size: 13px;
  color: white;

  &.hover {
    &:hover {
      background: #495057;
    }
  }

  &.v-1 {
    background: #495057;
  }

  &.v-2 {
    background: #0000;
  }

  .v-1,
  .v-2,
  .v-3 {
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10px;
  }

  .v-1 {
    background: rgba(0, 172, 172);
  }

  .v-2 {
    background: rgba(52, 143, 226);
  }

  .v-3 {
    background: rgba(108, 117, 125);
  }
}


@media screen and (max-width: 1200px) {
  .container {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }

    .areaChartCountries {
      grid-column: 1 / 3;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px 10px;
    
    .newUsersContainer,
    .earthMapCountries {
      grid-column: 1 / 3;
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .areaChartCountries {
      height: auto;
      flex-direction: column;

      .leftChartWrapper {
        width: 100%;
      }

      .rightChartWrapper {
        width: 100%;
      }
    }
  }
}
