@import "../../assets/sass/variables";

.container {
  padding: 20px 30px;
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .newUsersContainer {
    a {
      width: max-content;
      text-decoration: none;
      color: #FFFFFF80;
      font-size: 12px;
      margin: 10px auto;
    }

    .body {
      position: relative;
      display: flex;
      min-height: 246px;

      .usersWrapper {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        padding: 5px 7.5px;
        overflow: auto;
  
        .userItem {
          padding: 7.5px;
          font-size: 12px;
  
          p {
            white-space: nowrap !important;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 5px;
            color: white;
          }
        }
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid rgba(73, 80, 87, .75);
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px 10px;
  }
}

.horizontalItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  font-size: 13px;
  font-weight: 600;
  color: white;

  &.v-1 {
    background: #495057;
  }

  &.v-2 {
    background: #0000;
  }

  .v-1,
  .v-2,
  .v-3 {
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 10px;
  }

  .v-1 {
    background: rgba(0, 172, 172);
  }

  .v-2 {
    background: rgba(52, 143, 226);
  }

  .v-3 {
    background: rgba(108, 117, 125);
  }
}