@import "../../../assets/sass/variables";

.fileUpload {
  input {
    display: none;
  }
}

.p {
  border: none;
  outline: none;
  padding: 5px 6px;
  font-size: 12px;
  border-radius: 2px;
  color: $upload-btn-color;
  background: $upload-btn-bg;

  &:hover {
    background: $upload-btn-hover-bg;
  }
}

.modal {
  width: 220px;
  margin-top: 10px;
  padding: 5px 0;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  background: $darkBlue-btn-hover-color;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-left: 5px;
  }
}