
// country item
.c-i {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

// dashboard items
.d-i-column {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
} 

.d-i-bg-1 {
  background: #2d353c;
}

.d-i-bg-2 {
  background: rgb(32, 37, 42);
}