@import "../../assets/sass/variables";

.container {
  color: $app-theme2;

  .top {
    position: relative;
    background-image: url(../../assets/images/profile-page-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .userInfo {
      padding: 30px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.818) 100%
      );
    }

    .textBlock {
      margin-left: 140px;

      h2 {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }

  .form {
    margin: 60px 0;
    color: $app-theme2;
    padding: 0 20px;

    hr {
      border: none;
      border-bottom: 1px solid rgb(97, 97, 97);
    }

    .hrBottom {
      margin-bottom: 30px;
    }

    .hrTop {
      margin-top: 40px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 20px;
      margin: 5px 20px;
      color: #348fe2; 
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .top {
      .userInfo {
        display: flex;
        align-items: center;
        padding: 20px;
      }

      .textBlock {
        margin-left: 20px;
      }
    }

    .form {
      margin: 30px 0;
    }
  }
}
