@import "../../assets/sass/variables";

.container {
  color: $app-theme2;

  .top {
    position: relative;
    background-image: url(../../assets/images/profile-page-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .userInfo {
      padding: 30px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.818) 100%
      );
    }

    .textBlock {
      margin-left: 140px;

      h2 {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .top {
      .userInfo {
        display: flex;
        align-items: center;
        padding: 20px;
      }

      .textBlock {
        margin-left: 20px;
      }
    }
  }
}
