@import "../../../assets/sass/variables";

.wrapper {
  position: relative;
  margin-bottom: 25px;
  & input:focus ~ label,
  & input:valid ~ label {
    top: 0;
    font-size: 12px;
  }

  input {
    padding: 0 15px;
    color: $app-theme2;
    font-size: 14px;
    font-weight: 100;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    outline: none;
    border: 1px solid $auth-input-border-color;
    background: transparent;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      box-shadow: 0 0 2px 4px rgba(37, 146, 255, 0.259);
      border-color: $auth-input-focus-border-color;
    }
  }

  label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    background: $auth-right-bg;
    color: $auth-gray-600;
    transition: 0.3s;
    cursor: text;
  }
}
