@use "../../../assets/sass/mixins";
@import "../../../assets/sass/variables";

.default {
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color .2s linear;
  cursor: pointer;
}

// auth
.a-l,
.a-r {
  height: 45px;
  border-radius: 5px;
  font-size: 15p;
  font-weight: bold;
  margin-top: 10px;
}

.a-r {
  @include mixins.button(
    100%,
    0,
    $app-theme2, 
    $darkBlue-btn-bg, 
    $darkBlue-btn-hover-color,
    $darkBlue-btn-hover-color,
    $darkBlue-btn-focus-box-shadow
  );
}

.a-l {
  @include mixins.button(
    100%,
    0,
    $app-theme2, 
    $blue-btn-bg, 
    $blue-btn-hover-color, 
    $blue-btn-hover-color, 
    $blue-btn-focus-box-shadow
  );
}

// error page
.e {
  @include mixins.button(
    90px, 
    10px, 
    $app-theme2, 
    $blue-btn-bg, 
    $blue-btn-hover-color, 
    $blue-btn-hover-color, 
    $blue-btn-focus-box-shadow
  );
}

// header search
.h-s {
  height: 100%;
  font-size: 18px;
  padding: 0 10px;
  @include mixins.flex-center;
  transition: color 0.1s ease;
  background: transparent;
  color: $search-icon-btn-color;
  &:hover {
    color: $app-theme2;
  }
}

// accounts table
.add-user {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $add-user-btn-bg;
  color: $app-theme2;

  &:hover {
    background: $add-user-btn-hover-bg;
  }
}

// pagination
.p {
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: transparent;
  color: $app-theme2;
  transition: background-color 0.2s ease;

  &:hover {
    background: rgba(192, 192, 192, 0.059);
  }

  &:disabled {
    color: rgb(139, 139, 139);
    cursor: auto;

    &:hover {
      background: transparent;
    }
  }

  &:nth-child(1) {
    margin-right: 15px;
  }
}

// add country btn
.a-c {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 5px;
  color: $body-color;
  border: 1px solid $add-country-btn-bg;
  background: $add-country-btn-bg;
}

// get more countries btn
.c-gm {
  display: block;
  width: 250px;
  margin: 40px auto 30px auto;
  padding: 10px;
  color: $app-theme2;
  background: $country-item-footer-bg;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

// profile submit btn
.p-s {
  @include mixins.button(
    150px,
    9px,
    $app-theme2, 
    $darkBlue-btn-bg, 
    $darkBlue-btn-hover-color,
    $darkBlue-btn-hover-color,
    $darkBlue-btn-focus-box-shadow
  );
  margin: 7px 0 7px 50px;
}

// profile cancel btn
.p-c {
  @include mixins.button(
    150px,
    9px,
    $app-theme2, 
    rgba(192, 192, 192, 0.192), 
    rgba(192, 192, 192, 0.259),
    rgba(192, 192, 192, 0.259),
    $silver-btn-focus-box-shadow
  );
  margin-left: 10px;
}