.loading {
  width: 20px;
  height: 20px;
  border: 3px solid #dddddd;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading .8s ease infinite;
  margin: auto;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}