@import "../../assets/sass/variables";

.container {
  padding: 20px 30px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px 10px;
  }
}

// Accounts list
.paper {
  width: 100%;
  margin: 35px 0 40px 0;
  border-radius: 4px;
  background: $users-table-bg;

  .searchAndAdd {
    background: $users-table-top-bg;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;

    svg {
      color: $app-theme2;
      font-size: 15px;
      margin-right: 7px;
    }
  }

  .tableContainer {
    width: 100%;
    max-height: 595px;
    overflow: auto;
    background: $users-table-body-bg;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(66 74 80);

      &:hover {
        background: rgb(76, 84, 91);
      }
    }

    &::-webkit-scrollbar-track {
      background: #353e45;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        border-bottom: 1px solid $users-table-border-color;

        &:last-child {
          border-bottom: none;
        }
      }

      th {
        border-bottom: 1px solid $users-table-border-color;
        text-align: left;

        &:nth-child(2) {
          display: block;
          margin-bottom: -1px;
        }
      }

      th,
      td {
        padding: 16px;
        white-space: nowrap;

        &:nth-child(1) {
          min-width: 100px;
        }

        &:nth-child(2) {
          min-width: 250px;
          padding-left: 10%;
        }

        &:nth-child(3) {
          min-width: 250px;
        }

        &:nth-child(4) {
          min-width: 150px;
        }
      }

      th,
      tr,
      td {
        color: $app-theme2;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: start;

    svg {
      font-size: 20px;
      color: $accounts-delete-icon-color;
      cursor: pointer;

      &:nth-child(1) {
        margin-right: 10px;
        color: $app-theme1;
      }
    }
  }

  .flex {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tablePagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0;
    color: $app-theme2;
    background: $users-table-top-bg;
  }

  .userBlock {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1190px) {
  .paper {
    .tableContainer {
      table {

        th,
        td {
          &:nth-child(2) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .paper {
    margin: 20px 0;

    .tableContainer {
      overflow: visible;
      max-height: none;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $users-table-top-bg;

        &:hover {
          background: #ffffff2a;
        }
      }

      &::-webkit-scrollbar-track {
        background: $users-table-body-bg;
      }

      table {
        background: $body-bg;
        padding: 15px 0;

        thead {
          display: none;
        }

        tr {
          margin: 15px 0;
          border-radius: 4px;
          background: rgb(66 74 80);

          &:first-child {
            margin: 0 0 15px 0;
          }

          &:last-child {
            margin: 15px 0 0 0;
          }
        }

        th,
        td {
          min-width: none;

          &:nth-child(2) {
            justify-content: flex-end;
          }
        }

        td {
          border-bottom: 1px solid rgba(255, 255, 255, 0.205);

          &:last-child {
            border-bottom: none;
          }
        }

        tbody,
        tr,
        td {
          position: relative;
          text-align: right;
        }

        .actions {
          justify-content: flex-end;
        }

        td:before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          text-align: left;
          margin-left: 10px;
        }
      }
    }

    table,
    table tr,
    table td,
    table tbody {
      display: block;
      width: 100%;
    }

    .searchAndAdd {
      padding: 20px 15px;
    }

    .autocomplete {
      width: 240px;
    }

    .userBlock {

      .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}