@import "../../../assets/sass/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.35;
  color: $body-color;

  h2 {
    font-size: 27px;
    font-weight: 500;
  }
}