@import "../../../assets/sass/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  line-height: 1.35;
  color: $body-color;

  h2 {
    font-size: 27px;
    font-weight: 500;
  }

  .btn {
    padding: 4px 10px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid $body-color;
    color: $body-color;
    font-size: 14px;
  }
}