@import "../../../assets/sass/variables";


// header search block
.s {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  padding-left: 15px;
  transition: padding-right 0.1s ease-in;
  color: $app-theme2;

  &::placeholder {
    color: $header-input-plc-color;
    font-weight: bold;
  }

  &:focus {
    padding-right: 70px;
  }
}

// reset and forget
.r-f {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid silver;
  color: black;
  background: transparent;

  &::placeholder {
    font-size: 16px;
  }
}