@use "../../../assets/sass/mixins";

.modalBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(1, 1, 1, 0.63);
  @include mixins.flex-center;
  z-index: 100000;

  .modalDialog {
    position: relative;
    min-width: 500px;
    border-radius: 5px;
    margin: 40px 0;
    color: black;
    background: white;

    .modalContent {
      .modalClose {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
        color: black;
        cursor: pointer;
      }

      .modalContentBody {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .modalBackdrop {
    .modalDialog {
      width: 100vw !important;
      height: 100vh !important;
      min-width: none !important;
      max-width: none !important;
      overflow: auto;
      border-radius: 0;
      margin: 0;

      .modalContent {
        margin-bottom: 40px;
      }
    }
  }
}