@use "../../../assets/sass/mixins";

.modalBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 1, 1, 0.362);
  @include mixins.flex-center;
  z-index: 100000;

  .modalDialog {
    position: relative;
    max-width: 80vw;
    min-width: 500px;
    border-radius: 5px;
    overflow: hidden;
    color: black;
    background: white;

    .modalContent {
      .modalClose {
        position: absolute;
        right: 25px;
        top: 17px;
        font-size: 30px;
        color: black;
        cursor: pointer;
      }

      .modalContentBody {
        max-height: 90vh;
        overflow: auto; 
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .modalBackdrop {
    .modalDialog {
      width: 100vw;
      height: 100vh;
      min-width: none;
      max-width : none;
      border-radius: 0;

      .modalContent {
        .modalContentBody {
          height: 100vh;
          max-height: none;
        }
      }
    }
  }
}