// app themes
$app-theme1: #00acac;
$app-theme2: #FFFFFF;

// body
$body-font-family: Open Sans, sans-serif;
$body-font-size: 0.75rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: #dee2e6;
$body-bg: #161a1d;

// dashboard
$countries-chart-population-fill-color: rgb(52, 143, 226, .7);
$countries-chart-area-fill-color: rgb(73, 182, 214, .7);

// auth
$auth-right-bg: #2d353c;
$auth-paragraph-color: #bcbcbcd9;
$auth-register-text-color: rgb(255, 255, 255, .65);
$auth-input-focus-border-color: #348fe2;
$auth-input-border-color: #495057;
$auth-color-rgb: rgb(255, 255, 255, .5);
$auth-hr-color: #adb5bd;
$auth-gray-600: rgb(108, 117, 125);
$auth-primary-rgb: rgb(52, 143, 226);

// forgot and reset
$forgotReset-back-blue-bg: rgba(0, 0, 255, 0.724);

// accounts
$accounts-error-color: #ffffff7e;
$accounts-delete-icon-color: #ff6767;

// countries
$country-item-footer-bg: #2d353c;
$country-item-id-bg: rgb(32 37 42 / 85%);
$country-item-text-color: rgba(255, 255, 255, .75);
$country-item-actions-color: #dee2e6;

// profile
$profile-user-image-bg: #2d353c;

// autocomplete
$autocomplete-item-bg: "#1976d21";
$autocomplete-no-item-bg: "#c7c7c7";

// header
$header-height: 50px;
$header-mobile-height: 100px;
$header-bg: #262d33;
$header-color: #FFFFFF;
$header-form-bg: #1b1f24;
$header-form-border-coler: #1b1f24;
$header-navbar-dropdown-bg: #495057;
$header-navbar-dropdown-link-color: rgba(255, 255, 255, 0.85);
$header-navbar-dropdown-hover-bg: #6c757d;

// sidebar
$sidebar-width: 220px;
$sidebar-bg: #2d353c;
$sidebar-profile-bg: rgba(32, 37, 42, .75);
$sidebar-profile-bg-hover: rgba(32, 37, 42, 0.499);
$sidebar-menu-header-color: rgba(255, 255, 255, 0.45);
$sidebar-component-color-rgb: rgb(255, 255, 255, .6);
$sidebar-component-active-color: #3b3f44;
$sidebar-bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

// users table
$users-table-top-bg: #ffffff1a;
$users-table-body-bg: #2d353c;
$users-table-bg: #2d353c;
$users-table-border-color: #495057;

// logo
$logo-silver: rgba(255, 255, 255, 0.638);

// buttons
$blue-btn-bg: #00acac;
$blue-btn-hover-color: #008181;
$blue-btn-focus-box-shadow: 0 0 0 0.25rem rgba($blue-btn-hover-color, .5);
$darkBlue-btn-bg: #348fe2;
$darkBlue-btn-hover-color: #276baa;
$darkBlue-btn-focus-box-shadow: 0 0 0 0.25rem rgba($darkBlue-btn-hover-color, .5);
$silver-btn-focus-box-shadow: 0 0 0 0.25rem rgba(silver, .2);
$search-icon-btn-color: #343a3f;
$add-user-btn-bg: #009797;
$add-country-btn-bg: #009797;
$add-user-btn-hover-bg: #008989;
$upload-btn-color: #343a3f;
$upload-btn-bg: #ffd900;
$upload-btn-hover-bg: #bfa300;
$go-top-arrow-bg: #008181;

// inputs
$header-input-plc-color: #656565;
$profile-input-border-color: #495057;
$profile-input-bg-color: #2d353c;

// fonts 
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// pages min height
$page-min-height: calc(100vh - $header-height);

:export {
  forgotResetBlue: $forgotReset-back-blue-bg;
  errorColor: $accounts-error-color;
  itemBg: $autocomplete-item-bg;
  noItemBg: $autocomplete-no-item-bg;
  populationFill: $countries-chart-population-fill-color;
  areaFill: $countries-chart-area-fill-color;
}